.logopic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-bottom: 0.5em;
    content: url("../../assets/imgs/new_logo.png");
}

div:hover{
    cursor: pointer;
}