<nav class="navbar navbar-expand-lg navbar-light navbar-custom animated bounce">
    <img class="logopic" src="../../assets/imgs/logo2.png" width="250"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-links-custom ml-auto">
        <li class="nav-item active">
          <a routerLink="/home" routerLinkActive="active">דף הבית</a>
        </li>
        <li class="nav-item">
            <a routerLink="/news" routerLinkActive="active">עידכונים</a>
        </li>
        <li class="nav-item">
            <a routerLink="/ipl-pre" routerLinkActive="active">ניחוש טבלה</a>
        </li>
      </ul>
    </div>
  </nav>