<div class="modal-header" dir="rtl">
  <h4 class="modal-title pull-left"></h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active">
      בחר קבוצה למקום ה-{{palce}}
    </button>
    <ng-container  *ngFor="let team of teams">
    <button type="button" *ngIf="alreadyChose(team)" class="list-group-item list-group-item-action" (click)="teamChose(team.id)">{{team.teamName}}</button>
    <button type="button" *ngIf="!alreadyChose(team)" class="list-group-item list-group-item-action" (click)="teamChose(team.id)"><span class="chosen">{{team.teamName}}</span> נבחרה במקום ה-{{team.chosenP}}</button>
  </ng-container>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">סגור</button>
</div>
