
table {
  direction: rtl;
  color: white;
  font-size: 20px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
  background-image: linear-gradient(to bottom, #00265f, #1f3460, #344261, #484f60, #5c5d5f);
}

.mikum {
  width: 10px;
  text-align: center;
  padding-left: 0px;
}

.teamPos{
   
  width: 10px;
   padding-left: 0px;
   padding-right: 0px;
}
/*.table-dark tbody tr:nth-child(13),
.table-dark tbody tr:nth-child(14){
   background-color: red;
   opacity: 0.9;
}*/
.table-dark {
  background-color: #404040;
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 15em;
}

td {
  direction: rtl;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0em;
}

th {
  direction: rtl;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0.5em;
}

.addSign {
  color: white;
}
.addSign:hover {
  opacity: 0.5;
}

table tbody tr:nth-last-child(2) {
  border-top: 5px solid red;
}

table thead tr th:first-child {
   border-top: 0px solid red;
 }

 table thead tr th:nth-child(2) {
   border-top: 0px solid red;
 }

.egul {
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 50%;
  border-width: 0.2em;
  border-style: solid; 
}

.egul:hover{
   content: url("../../assets/imgs/sinoi.png");
   opacity: 0.5; 
}

.tryy{
   font-size: 20px;
}

.teamNames{
   text-align: center;
}

.rfe{
   margin-right: 600px;
}

div{
   direction: rtl;
}

h1 {
  color: #FFFFFF;
  text-shadow: 6px 4px 12px rgba(64,64,64,0.75)
,  2px 2px 0 #404040,
               2px -2px 0 #404040,
               -2px 2px 0 #404040,
               -2px -2px 0 #404040,
                2px 0px 0 #404040,
                0px 2px 0 #404040,
                -2px 0px 0 #404040,
                0px -2px 0 #404040;
  font-size: 65px;
  font-family: 'Assistant';
  text-align: center;
  }

  .coteret {
    width: 60%;
    padding: 10px;
    position: relative;
    text-align: center;
    color:white;
    font-size: 20px;
  }

  @media screen and (max-width: 992px) {
    .container { display: flex; flex-flow: column; }
    .coteret { order: 1;
      text-align: center;
      margin: auto;
    width: 100%; }
    table { order: 2;  }

}

.txt{
  width: 70%;
  text-align: center;
  margin: auto;
  padding: 10px;
}

.form-control{
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 10px;
}

.btn-primary{
  background: #00265f;
  border: #00265f;
  margin-top: 10px;
}
